<p style="color: green"><%= notice %></p>

<h1>Greetings</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @greetings.each do |greeting| %>
        <tr>
          <td><%= greeting.name %></td>
          <td><%= greeting.message %></td>
          <td></td>
        </tr>
      </p>
    <% end %>
  </tbody>

</table>
<%= link_to "New greeting", new_greeting_path %>
